<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="BASE_LOG_FILE" value="${catalina.base}/logs/lodge-service-discovery"/>
    <property name="LOG_FILE" value="${BASE_LOG_FILE}.log"/>
    <property name="LOG_FILE_PATTERN" value="${BASE_LOG_FILE}-%d{yyyy-MM-dd}-%i.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATTERN}</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} %-5level %logger{36} [%thread] %X{sourceThread} %X{akkaSource} %X{sourceActorSystem} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} [%thread] %X{sourceThread} %X{akkaSource} %X{sourceActorSystem} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="br.com.lodge.servicediscovery" level="INFO" />

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
